<footer id="footer">
	<div class="inner">
		<h2>Get In Touch</h2>
		<ul class="actions">
			<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
			<li><span class="icon fa-envelope"></span> <a href="#">info@housepaintmelbourne.com</a></li>
			<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Melbourne, TN 00000</li>
		</ul>
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
		</ul>
	</div>
	<div class="copyright">
		2019 &copy; housepaintmelbourne
	</div>
</footer>